/* Wireframe.css */

div {
 display: block;
    }
    

h1 {
	    font-family: baskerville;
   	    line-height: 1;
   	    color: white;
}

/* h1 {
     display: block;
     font-size: 2em;
	 margin-block-start: 0.67em;
	 margin-block-end: 0.67em;    	   
     margin-inline-start: 0px;
	margin-inline-end: 0px;
    font-weight:bold
} */

.grid-container-one {
    display: grid;
    grid-template-columns: 100%;
}
.header {
    background-color: lightblue;
    text-align: center;
    padding: 35px;
}    


.grid-container-two {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px;
}
.sidebarone {
    background-color: orange;
    text-align: center;
    padding: 35px;
}
.sidebartwo {
    background-color: rgb(241, 241, 123);
    text-align: center;
    padding: 35px;
}
.grid-container-three {
    display: grid;
    grid-template-columns: 75% 25%;
}
.main {
    background-color: rgb(59, 167, 107);
    text-align: center;
    padding: 35px;
}
.div {
    background-color: lightblue;
    text-align: center;
    padding: 35px;
}
.grid-container-four {
    display: grid;
    grid-template-columns: 33% 33% 34%;
}

.grid-container-five {
    display: grid;
    grid-template-columns: 100%;
}
.footer {
    background-color: lightblue;
    text-align: center;
    padding: 1px;
}

.container-one {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.div-class-p {
    background-color: blue;
    justify-items: center;
    text-align: center;
    padding: 35px;
    border-width: 4px;
    border-style: solid;
    border-color: orange;
    /* border-image: initial; */
}
.div-class-t {
    background-color: lightblue;
    text-align: center;
    padding: 35px;
    border-width: 4px;
    border-style: solid;
    border-color: orange;
    /* border-image: initial; */
}

.container-two {
    display: grid;
    grid-template-columns: 80% 20%;
}

.header-two {
    background-color: lightpink;
    text-align: center;
    padding: 35px;
    border-width: 4px;
    border-style: solid;
    border-color: orange;
    /* border-image: initial; */
}
.img {
    background-color: rgb(224, 175, 85);
    text-align: center;
    padding: 35px;
    border-width: 4px;
    border-style: solid;
    border-color: orange;
    /* border-image: initial; */
}

.container-three {
    display: grid;
}

.main-two {
    background-color: blue;
    text-align: center;
    padding: 35px;
    border-width: 4px;
    border-style: solid;
    border-color: orange;
    /* border-image: initial; */
    grid-column: 1 / 3;
}
.quote {
    background-color: rgb(224, 175, 85);
    text-align: center;
    padding: 35px;
    border-width: 4px;
    border-style: solid;
    border-color: orange;
    /* border-image: initial; */
    grid-column: 1 / 3;
}
.sidebar {
    background-color: lightblue;
    align-items: center;
    justify-content: center;
    display: flex;
    border-width: 4px;
    border-style: solid;
    border-color: orange;
    /* border-image: initial; */
    grid-column: 3 / auto;
    grid-row: 1 / 3;
}

.container-six {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.div-class-o {
    background-color: rgb(224, 175, 85);
    text-align: center;
    padding: 35px;
    border-width: 4px;
    border-style: solid;
    border-color: orange;
    /* border-image: initial; */
}
.container-footer {
    display: grid;
    grid-template-columns: 100%;
}
.footer-two {
    background-color: lightpink;
    text-align: center;
    padding: 5px;
    border-width: 4px;
    border-style: solid;
    border-color: orange;
    /* border-image: initial; */
}


/* Lily's code */


.container-one {
    display:grid;
    grid-template-columns: 100%; 
    }
    
.boxone{
    background-color: blue;
    padding: 35px;
    text-align: center;
    }